
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_Auth_Layout.cshtml";
}

<h1>CheckYourInbox</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
        <div class="body">
                      password Reset Link To Your Mail , Please Check Your Inbox               
        </div>
        <a href="https://mail.google.com/mail/u/0/?ogbl#inbox">Go To Your Inbox</a>
	</div>
</div>
